body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    background-color: grey;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1500px;
    margin: 50px auto;
    padding: 20px;
    background: #fbfbfb;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(16, 13, 13, 0.1);
}
.c
{
    text-align: center;
}
.table {
    height: 50px;
    vertical-align: bottom;
    border: solid 2px #000;
    border-collapse: collapse;
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.btn:hover {
    background: #0056b3;
}