{% extends 'base.html' %}


{% block title %}Dashboard{% endblock %}

{% block header %}
    NEPSE Stock Data Scraper
{% endblock %}


{% block content %}
<div class="dashboard">
    <h2 class="c">Welcome to Your Dashboard</h2>
    <div class="button-container">
        <a href="{% url 'home' %}" class="dashboard-button">Today's Data</a>
        <a href="{% url 'symbol' %}" class="dashboard-button">Scrape Scrip</a>
        <a href="{% url 'alert' %}" class="dashboard-button">Create alert</a>
        <a href="{% url 'create_watchlist' %}" class="dashboard-button">Create Watchlist</a>
    </div>
</div>
<a href="{% url 'logout' %}" class="c dashboard-button">logout</a>

{% endblock %}