{% extends 'base.html' %}

{% block title %}NEPSE Stock Data{% endblock %}

{% block header %}
    NEPSE Stock Data
{% endblock %}

{% block content %}
    <table class="table" border="1">
        <tr>
            <th>SN</th>
            <th>Symbol</th>
            <th>Open</th>
            <th>Max Price</th>
            <th>Min Price</th>
            <th>Closing Price</th>
            <th>Volume</th>
            <th>Previous Closing</th>
        </tr>
        {% for stock in stock_data %}
        <tr>
            <td>{{ stock.SN }}</td>
            <td>{{ stock.Company }}</td>
            <td>{{ stock.Open }}</td>
            <td>{{ stock.Max_Price }}</td>
            <td>{{ stock.Min_Price }}</td>
            <td>{{ stock.Closing_Price }}</td>
            <td>{{ stock.Traded_Shares }}</td>
            <td>{{ stock.Previous_Closing }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}