{% extends 'base.html' %}

{% block title %}Watchlist{% endblock %}

{% block content %}

{% block header %}
    Watchlist
{% endblock %}

<h1 class="c">Market Watchlist of {{ user.username }}</h1>

{% if scrip %}
    <table class="table" border="1">
        <tr>
            <th>Scrip</th>
            <th>Target</th>
            <th>Today Close</th>
        </tr>
        <tr>
            <td>{{ scrip }}</td>
            <td>{{ alert_on }}</td>
            <td>{{ today }}</td>
        </tr>
    </table>
{% else %}
    <p>{{ message }}</p>
{% endif %}

{% endblock %}
