{% extends 'base.html' %}

{% block title %}Watchlist{% endblock %}

{% block content %}
    <h1 class="c">Market Watchlist : {{user}}</h1>
    <table class="table" border="1">
        <tr>
            <th>Symbol</th>
            <th>Open</th>
            <th>Closing Price</th>
            <th>Volume</th>
            <th>Max Price</th>
            <th>Min Price</th>
            <th>Date</th>
        </tr>
        {% for stock in data %}
        <tr>
            <td>{{ stock.scrip }}</td>
            <td>{{ stock.open }}</td>
            <td>{{ stock.close }}</td>
            <td>{{ stock.volume }}</td>
            <td>{{ stock.max }}</td>
            <td>{{ stock.min }}</td>
            <td>{{ stock.today }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}